<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="FrancescoMinei12" value="https://nuget.pkg.github.com/FrancescoMinei12/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="FrancescoMinei12">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<FrancescoMinei12>
			<add key="Username" value="FrancescoMinei12" />
			<add key="ClearTextPassword" value="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" />
		</FrancescoMinei12>
	</packageSourceCredentials>
</configuration>
